@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- gray bg -->
    <section class="container tm-home-section-1" id="more">
        <div class="row">
            <!-- slider -->
            <div class="flexslider effect2 effect2-contact tm-contact-box-1">
                <ul class="slides">
                    <li>
                        <img src="/Assets/admin/img/world-map.png" alt="image" class="contact-image" />
                        <div class="contact-text">
                            <h2 class="slider-title">Hotel PTIT</h2>
                            <h3 class="slider-subtitle">Vị trí đắc địa</h3>
                            <p class="slider-description">
                                Nằm ngay ở cửa ngõ dẫn vào thành phố, khách sạn Tân Sơn Nhất 5 sao có vị trí quá đắc địa. <br><br>
                                Khách sạn có sân rộng, sảnh rộng, phòng rộng và các tiện nghi đủ tiêu chuẩn của 1 khách sạn 5 sao 
                            </p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- white bg -->
    <section class="section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="tm-section-header section-margin-top">
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Contact Us</h2></div>
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                </div>
            </div>
            <div class="row">
                <!-- contact form -->
                <form action="~/Contact/SendEmail" method="post" class="tm-contact-form">
                    <div class="col-lg-6 col-md-6">
                        <div id="google-map" style="position: relative; overflow: hidden;"></div>
                        <div class="contact-social">
                            <a href="#" class="tm-social-icon tm-social-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon tm-social-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="#" class="tm-social-icon tm-social-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon tm-social-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="tm-social-icon tm-social-google-plus"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 tm-contact-form-input">
                        <div class="form-group">
                            <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="NAME" />
                        </div>
                        <div class="form-group">
                            <input type="email" id="contact_email"  name="contact_email"  class="form-control" placeholder="EMAIL" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="contact_subject" name="contact_subject" class="form-control" placeholder="SUBJECT" />
                        </div>
                        <div class="form-group">
                            <textarea id="contact_message" name="contact_message" class="form-control" rows="6" placeholder="MESSAGE"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="tm-submit-btn" type="submit" name="submit">Submit now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="/Assets/admin/js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
    <script type="text/javascript" src="/Assets/admin/js/bootstrap.min.js"></script>					<!-- bootstrap js -->
    <script type="text/javascript" src="/Assets/admin/js/jquery.flexslider-min.js"></script>			<!-- flexslider js -->
    <script type="text/javascript" src="/Assets/admin/js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF-rTWWAm292wFNzIPP7lft4idgL7SgFE&callback=initMap"
            type="text/javascript"></script>
    <script>
        /* Google map
      	------------------------------------------------*/
        var map = '';
        var center;

        function initialize() {
            var mapOptions = {
                zoom: 14,
                center: new google.maps.LatLng(10.847428, 106.785644),
                scrollwheel: false
            };

            map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

            google.maps.event.addDomListener(map, 'idle', function () {
                calculateCenter();
            });

            google.maps.event.addDomListener(window, 'resize', function () {
                map.setCenter(center);
            });
        }

        function calculateCenter() {
            center = map.getCenter();
        }

        function loadGoogleMap() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDF-rTWWAm292wFNzIPP7lft4idgL7SgFE&callback=initMap&sensor=false&' + 'callback=initialize';
            document.body.appendChild(script);
        }

        // DOM is ready
        $(function () {

            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });

            // Flexslider
            $('.flexslider').flexslider({
                controlNav: false,
                directionNav: false
            });

            // Google Map
            loadGoogleMap();
        });
    </script>
</body>
</html>
