<div class="tm-header">
    <div class="container">
            <nav class="navbar">
                <div class="container-fluid">
                    <style>
                        .nav > li > a:hover,
                        .nav > li > a:focus {
                            color: white;
                            text-decoration: none;
                            background-color: #f5d11d;
                        }
                        .nav .open > a,
                        .nav .open > a:hover,
                        .nav .open > a:focus {
                            background-color: #f5d11d;
                            border-color: #f5d11d;
                        }
                        .nav > li{
                            background-color:none;
                        }
                        .nav > li > a {
                            color: #f5d11d;
                        }
                    </style>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="navbar-left">
                                <a href="/Home/Index" class="tm-site-name">Hotel PTIT</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-custom">
                                <a href="/Home/Index">TRANG CHỦ</a>
                            </li>
                            
                            <li>
                            <a href="/About/Index">ĐỊA ĐIỂM</a>
                                </li>
                            <li>
                            <a href="/Contact/Index">LIÊN HỆ</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">TÁC VỤ KHÁC<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/EXCEL/KHACHHANG_IMPORT.xlsx">HD ĐĂNG KÝ THEO TUA</a></li>
                                    <li><a href="/phong-da-dat">XEM THÔNG TIN PHÒNG ĐÃ ĐẶT</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
                
            </nav>
    </div>
</div>

@*<div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-3 tm-site-name-container juz-1">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/Home/Index" class="tm-site-name">Hotel PTIT</a>
                    </div>
                    <div class="col-md-6">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập chứng minh thư" name="q">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-9 juz-2">
                <nav class="nav navbar-nav navbar-right">
                    <ul>
                        <li><a href="home" class="active">Trang chủ</a></li>
                        <li><a href="about">địa điểm</a></li>
                        <li><a href="contact">liên hệ</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Page 1-1</a></li>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Page 1-1</a></li>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        </div>
    </div>*@