@model List<String>
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


 
        @{foreach (String temp in Model)
            {
            <h1>
                @temp
            </h1>
                }
            }


