@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container tm-home-section-1" id="more">
    <div class="row">
        <!-- slider -->
        <div class="flexslider flexslider-about effect2">
            <ul class="slides">
                <li>
                    <img src="/Assets/admin/img/about-1.jpg" alt="image" />
                    <div class="flex-caption">
                        <h2 class="slider-title">Chào mừng bạn đến với chúng tôi</h2>
                        <h3 class="slider-subtitle">Khách sạn của chúng tôi hân hạnh được phụ vụ quý khách hàng</h3>
                        <p class="slider-description">
                            Giá là giá trung bình mỗi đêm mà các đối tác của chúng tôi cung cấp và có thể không bao gồm tất cả thuế và phí. Thuế và phí được trình bày chỉ là giá trị ước tính. Vui lòng xem các đối tác của chúng tôi để biết thêm chi tiết.</a>. <br><br>
                            Các giảm giá được đề cập trong quảng cáo trực tuyến dựa trên giá trung bình được quan sát trong 14 ngày qua so với giá thấp nhất được quan sát trong cùng giai đoạn thời gian. Không có đảm bảo rằng những khoản tiết kiệm hoặc giá này sẽ có hiệu lực vào thời điểm tìm kiếm của bạn. Giá linh hoạt và thay đổi dựa vào ngày đặt phòng và số lượng phòng trống có hạn.
                        </p>
                        <div class="slider-social">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/Assets/admin/img/about-1.jpg" alt="image" />
                    <div class="flex-caption">
                        <h2 class="slider-title">Chào mừng bạn đến với chúng tôi</h2>
                        <h3 class="slider-subtitle">Khách sạn của chúng tôi hân hạnh được phụ vụ quý khách hàng</h3>
                        <p class="slider-description">
                            Giá là giá trung bình mỗi đêm mà các đối tác của chúng tôi cung cấp và có thể không bao gồm tất cả thuế và phí. Thuế và phí được trình bày chỉ là giá trị ước tính. Vui lòng xem các đối tác của chúng tôi để biết thêm chi tiết.</a>. <br><br>
                            Các giảm giá được đề cập trong quảng cáo trực tuyến dựa trên giá trung bình được quan sát trong 14 ngày qua so với giá thấp nhất được quan sát trong cùng giai đoạn thời gian. Không có đảm bảo rằng những khoản tiết kiệm hoặc giá này sẽ có hiệu lực vào thời điểm tìm kiếm của bạn. Giá linh hoạt và thay đổi dựa vào ngày đặt phòng và số lượng phòng trống có hạn.
                        </p>
                        <div class="slider-social">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </li>          
            </ul>
        </div>
    </div>    
</section>

<!-- white bg -->
<section class="tm-white-bg section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="tm-section-header section-margin-top">
                <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                <div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Làm việc vì khách hàng</h2></div>
                <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
            </div>
        </div>
        <div class="row">
            <!-- Testimonial -->
            <div class="col-lg-12">
                <div class="tm-what-we-do-right">
                    <div class="tm-about-box-2 margin-bottom-30">
                        <img src="/Assets/admin/img/about-2.jpg" alt="image" class="tm-about-box-2-img">
                        <div class="tm-about-box-2-text">
                            <h3 class="tm-about-box-2-title">Phục vụ vì sự hài lòng của khách hàng</h3>
                            <p class="tm-about-box-2-description gray-text">Mỗi phòng ở đây đều có truyền hình cáp màn hình phẳng, khu vực tiếp khách cùng ấm đun nước điện. Phòng tắm riêng đi kèm vòi sen, máy sấy tóc và đồ vệ sinh cá nhân miễn phí.
                            <br/> khách sạn có bãi đỗ xe riêng miễn phí cũng như dịch vụ đặt vé, bàn đặt tour và chỗ để hành lý. </p>
                            <p class="tm-about-box-2-footer">Admin</p>
                        </div>
                    </div>
                    <div class="tm-about-box-2">
                        <img src="/Assets/admin/img/about-3.jpg" alt="image" class="tm-about-box-2-img">
                        <div class="tm-about-box-2-text">
                            <h3 class="tm-about-box-2-title">Luôn mang đến điều tốt đẹp nhất cho quý khác hàng</h3>
                            <p class="tm-about-box-2-description gray-text">Nhân viên chúng tôi cam kết và lấy sự hài lòng của quý khách là tiêu chí công việc.</p>
                            <p class="tm-about-box-2-footer">Admin</p>
                        </div>
                    </div>
                </div>
                <div class="tm-testimonials-box">
                    <h3 class="tm-testimonials-title">Lịch làm việc</h3>
                    <div class="tm-testimonials-content">
                        <div class="tm-testimonial">
                            <p>"Khách sạn chúng tôi làm việc từ thứ 2 tới chủ nhật hằng tuần, kể cả ngày lễ"</p>
                            <strong class="text-uppercase">John Smith</strong>
                        </div>
                        <div class="tm-testimonial">
                            <p>"Buổi sáng chúng tôi bắt đầu mở cửa nhận đặt phòng từ lúc 6 giờ sáng và kết thúc vào 12 giờ đêm"</p>
                            <strong class="text-uppercase">Lorens</strong>
                        </div>
                        <div class="tm-testimonial">
                            <p>"Quý khách hàng có thể gọi điện trực tiếp tới lễ tân khách sạn để liên hệ đặt phòng thay vì thực hiện trên website"<p>
                                <strong class="text-uppercase">Robert</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
